<div class="container mx-auto mt-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-white p-4 rounded-lg shadow">
      <h2 class="text-xl font-bold mb-4">Task Overview</h2>
      <ul class="space-y-2">
        <li class="flex justify-between">
          <span>Total Tasks:</span>
          <span>{{ taskCountData.all_tasks }}</span>
        </li>
        </ul>
    </div>

    <div class="bg-white p-4 rounded-lg shadow">
      <h2 class="text-xl font-bold mb-4">Task Completions</h2>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="bg-white p-4 rounded-lg shadow mt-4">
    <h2 class="text-xl font-bold mb-4">Upcoming Due Dates</h2>
    <ul class="space-y-2">
      <li class="flex justify-between" *ngFor="let dueDate of taskGraphData.tasks_due_next_7_days | keyvalue">
        <span>{{ dueDate.key }}</span>
        <span>{{ dueDate.value }} tasks</span>
      </li>
    </ul>
  </div>
</div>